<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rare Vinyls</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Acme|Russo+One|Shrikhand|Noto+Sans" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    
<div class="container body-content">
    @RenderBody()
    <footer>
        <div class="myFooter">
        <p class="footerText">Copyright &copy; @DateTime.Now.Year Nikolaos Liliakidis</p>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
